---
import Layout from "../../layouts/BaseLayout.astro";
import BlogCard from '../../components/BlogCard.astro';

// Cargar todos los posts .md de la carpeta actual
const posts = await Astro.glob("./*.astro");
---

<Layout
  title="Blog | Imperial Net"
  description="Consejos simples sobre digitalización y software para PyMEs"
>
  <section class="py-5 text-white bg-dark">
    <div class="container">
      <h1 class="mb-4 text-center">Blog</h1>
      <div class="row g-4">
        {posts.map((post) => (
          <BlogCard post={post} />
        ))}
      </div>
    </div>
  </section>
</Layout>
