/* Asegura que no haya margen/padding en toda la página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Evita el scroll mientras está el loader activo */
body, html {
  height: 100%;
  overflow: hidden;
   margin: 0;
  padding: 0;
}

/* El loader ocupa toda la pantalla */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
   inset: 0;
}

/* El video ocupa toda la pantalla */
#loader-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: block;
  
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border: 8px solid #ffffff22;
  border-top: 8px solid #ffffff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 10000;
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}