<section id="testimonials" class="py-5 bg-dark text-white">
  <div class="container">
    <h2 class="text-center mb-5 fw-bold" data-aos="fade-up">
      Lo que dicen nuestros clientes
    </h2>
    <div class="row g-4">
      <!-- Testimonio 1 -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="0">
        <div class="p-4 bg-secondary rounded h-100 shadow-lg text-center">
          <img src="../../public/img/logos/coblan.png" alt="Federico Blanco" 
               class="rounded-circle mb-3 border border-3 border-light" style="max-height: 60px;">
          <p class="fst-italic mb-3">
            “Gracias a ImperialNet pudimos automatizar tareas críticas. Ahora 
            nuestro equipo se concentra en crecer en lugar de resolver problemas técnicos.”
          </p>
          <div class="mb-2 text-warning">
            ★★★★★
          </div>
          <h6 class="mb-0 fw-bold">Federico Blanco</h6>
          <small class="text-light">Gerente de Coblan</small>
        </div>
      </div>

      <!-- Testimonio 2 -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="150">
        <div class="p-4 bg-secondary rounded h-100 shadow-lg text-center">
          <img src="../../public/img/logos/imparable.png" alt="Ezequiel Cabrera" 
               class="rounded-circle mb-3 border border-3 border-light" style="max-height: 60px;">
          <p class="fst-italic mb-3">
            “Su equipo entendió exactamente lo que necesitábamos. La solución 
            no solo es funcional, sino también fácil de usar y totalmente accesible.”
          </p>
          <div class="mb-2 text-warning">
            ★★★★★
          </div>
          <h6 class="mb-0 fw-bold">Ezequiel Cabrera</h6>
          <small class="text-light">Director de Imparable Gym</small>
        </div>
      </div>

      <!-- Testimonio 3 -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
        <div class="p-4 bg-secondary rounded h-100 shadow-lg text-center">
          <img src="../../public/img/logos/sol-fotofashion.jpg" alt="Sol Schmidt" 
               class=" mb-3 border border-3 border-light" style="max-height: 60px; width: 50px">
          <p class="fst-italic mb-3">
           “La experiencia fue excelente. Gracias a ImperialNet logramos potenciar nuestra presencia en el mercado, alcanzar a muchos más clientes y hacer crecer nuestro negocio.”
          </p>
          <div class="mb-2 text-warning">
            ★★★★★
          </div>
          <h6 class="mb-0 fw-bold">Sol Schmidt</h6>
          <small class="text-light">Propietaria de Sol Fotofashion</small>
        </div>
      </div>
    </div>
  </div>
</section>
